---
- name: copy docker-compose for nginx
  copy: 
    src: docker-compose.yml
    dest: /srv/nginxdemo

- name: create and start nginxdemo
  community.docker.docker_compose:
    project_src: /srv/nginxdemo
    remove_orphans: true
  register: output
  environment:
    NGINX_ADDRESS: "{{nginx_url}}"
- debug:
    var: output.changed